.App {
  text-align: left;
}

.App-header {
  background-color: #444;
  padding: 20px;
  color: white;
}

.log {
  margin: 5px 10px 0 0;
}

.nav>.authenticated {
  display: none;
}

Button {
  margin: 0px 4px 0px 4px;
}
