.App {
  text-align: left;
}

.App-header {
  background-color: #444;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.log {
  margin: 5px 10px 0 0;
}

.nav>.authenticated {
  display: none;
}
