.App {
  text-align: center;
  width: 90% ;
  margin-left: auto ;
  margin-right: auto;
  margin-bottom: 10px;
  font-family:verdana, sans-serif;
  word-spacing:4pt;
  font-size:14px;
}

.App-header {
  background-color: #f90;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


textarea {
  width:		100%;
	height: 	10em;
}
