service: contactless

frameworkVersion: ">=1.1.0 < 2.0.0"
#plugins:
#  - serverless-domain-manager


# used for readability
custom:
  stage: ${opt:stage, self:provider.stage}
  region: ${opt:region, self:provider.region}
  extra: ${file(serverless-${self:custom.stage}.json)}
  basestackname: contact

  domainname: ${ssm:/${self:custom.basestackname}/domainName}
  hostname: ${ssm:/${self:custom.basestackname}/apiHostName}
  acmarn: ${ssm:/${self:custom.basestackname}/apiAcmArn}

  #customDomain:
  #    domainName: tms-${self:custom.stage}-api.${self:custom.domainname}
  #    certificateName: tms-${self:custom.stage}-api.${self:custom.domainname}
  #    createRoute53Record: attribute
  #    endpointType: regional


provider:
  name: aws
  runtime: python3.6

  environment:
    STAGE: ${self:custom.stage}

  iamRoleStatements:
    - Effect: Allow
      Action:
        - ses:*
      Resource: "*"


functions:
  contactus:
    handler: handler.handle
    tags:
      created: serverless for Contact Us
      Name: contact for serverless

    events:
      - http:
          path: /
          method: get
          cors:
            origin: '*'
            headers:
              - Content-Type
              - X-Amz-Date
              - X-Api-Key
              - X-Amz-Security-Token
              - X-Amz-User-Agent
              - Access-Control-Allow-Origin
            allowCredentials: false

      - http:
          path: /
          method: post
          cors:
            origin: '*'
            headers:
              - Content-Type
              - X-Amz-Date
              - X-Api-Key
              - X-Amz-Security-Token
              - X-Amz-User-Agent
              - Access-Control-Allow-Origin
            allowCredentials: false


resources:
  Resources:

    ApiGatewayDomain:
      Type: 'AWS::ApiGateway::DomainName'
      Properties:
        DomainName: ${self:custom.hostname}.${self:custom.domainname}
        CertificateArn: ${self:custom.acmarn}

    ApiGatewayMapping:
      Type: 'AWS::ApiGateway::BasePathMapping'
      DependsOn: ApiGatewayDomain
      Properties:
        DomainName: { "Ref" : ApiGatewayDomain }
        RestApiId: { "Ref" : ApiGatewayRestApi }

    ApiGatewayResponse:
      Type: 'AWS::ApiGateway::GatewayResponse'
      DependsOn: ApiGatewayDomain
      Properties:
        ResponseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
        ResponseType: DEFAULT_4XX
        RestApiId: { "Ref" : ApiGatewayRestApi }

    MyDNSRecord:
      Type: 'AWS::Route53::RecordSetGroup'
      DependsOn: ApiGatewayDomain
      Properties:
        HostedZoneName: { "Fn::Sub" : "${self:custom.domainname}." }
        RecordSets:
          - Type: A
            Name: ${self:custom.hostname}.${self:custom.domainname}
            AliasTarget:
              HostedZoneId: Z2FDTNDATAQYW2   # hardcoded for all cloudfront
              DNSName: { "Fn::GetAtt" : ApiGatewayDomain.DistributionDomainName }

  Outputs:
    ExportServiceEndpoint:
      Description: "URL Endpoint for the REST Service"
      Value:
        "Fn::Join":
          - ""
          -
            - "https://"
            - Ref: "ApiGatewayRestApi"
            - ".execute-api."
            - Ref: "AWS::Region"
            - ".amazonaws.com/"
            - ${self:custom.stage}
      Export:
        Name: ContactlessServiceEndpoint
