swagger: '2.0'
info:
  description: >-
    API Service for TMS (Transportation Management System) This is being
    developed as a POC for serverless and hand-held devices
  version: 1.0.0
  title: TMS API
  contact:
    email: matt@denvercliffs.com
host: tms-api.mattcliff.net
basePath: /dev
schemes:
  - https
tags:
  - name: customer
paths:
  /customer:
    get:
      summary: Gets all customer records in the system
      tags:
        - customer
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: success
          schema:
            type: array
            items:
              $ref: '#/definitions/Customer'
        '405':
          description: Invalid input
    post:
      tags:
        - customer
      summary: Adds a new customer record
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: customer object to add
          required: true
          schema:
            $ref: '#/definitions/Customer'
      responses:
        '200':
          description: success
        '405':
          description: Invalid input
  '/customer/{customerId}':
    get:
      summary: Get a specific customer record in the system
      tags:
        - customer
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: customerId
          description: customer id to pull
          required: true
          type: string
      responses:
        '200':
          description: success
          schema:
            $ref: '#/definitions/Customer'
        '400':
          description: invalid id supplied
        '404':
          description: Pet not found
    put:
      tags:
        - customer
      summary: Updates an existing customer record
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: customer object to add
          required: true
          schema:
            $ref: '#/definitions/Customer'
        - in: path
          name: customerId
          description: customer id to update
          required: true
          type: string
      responses:
        '200':
          description: success
        '405':
          description: Invalid input
    delete:
      tags:
        - customer
      summary: Removes a customer record
      produces:
        - application/json
      parameters:
        - in: path
          name: customerId
          description: customer id to update
          required: true
          type: string
      responses:
        '200':
          description: success
        '405':
          description: Invalid input
definitions:
  Customer:
    type: object
    properties:
      name:
        type: string
        description: name of the customer
      address1:
        type: string
        description: street address
      address2:
        type: string
        description: secondary address line
      city:
        type: string
        description: city
      state:
        type: string
        description: state code
      zip:
        type: string
        description: postal code
      phone:
        type: string
        description: phone number
      fax:
        type: string
        description: fax number
      email:
        type: string
        description: email of the customer
      website:
        type: string
        description: website
  Carrier:
    type: object
    properties:
      name:
        type: string
        description: name of the carrier
  Load:
    type: object
    properties:
      name:
        type: string
        description: name of the customer
